/* GENERAL */

.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* HEADER */
.header {
  background-color: #ffffff;
  background-image: url("./../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  max-width: 709px;
  padding: 183px 0 0;
  margin: 0;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__title_span_accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  right: 30px;
  top: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  margin: 30px 0 0;
  padding: 0;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  margin: 0;
  color: #838383;
}

/* RECIPES */

.recipes {
  background-color: #0a2750;
  background-image: url(./../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  box-sizing: border-box;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  padding: 100px 0 0 80px;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  font-weight: 500;
}

.recipes__subtitle {
  margin: 0;
  padding: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 80px 0 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  margin: 0;
  padding-top: 24px;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

/* RESERVATION */

.reservation {
  background-color: #d9e7ff;
  background-image: url(./../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 720px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 100px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0;
}

.form {
  max-width: 385px;
}

.reservation__fieldset {
  padding: 80px 0 120px 0;
  display: flex;
  flex-direction: column;
  border: none;
  box-sizing: border-box;
}

.reservation__form-label {
  padding: 0 0 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__form-label-margin {
  margin-top: 32px;
}

.reservation__form-input {
  border: none;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  line-height: 30px;
  padding: 15px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #838383;
  color: #838383;
}

.reservation__form-button {
  border-radius: 4px;
  background-color: #2f80ed;
  border: none;
  max-width: 385px;
  box-sizing: border-box;
  height: 60px;
  margin: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.reservation__form-button-hover:hover {
  opacity: 70%;
}

.reservation__form-checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.reservation__form-label-checkbox {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
